@import "tailwindcss";

:root {
  --color-background: #eee;
  --color-foreground: #171717;

  /* Action */
  --color-action: rgba(10 102 194 / 100%);
  --color-action-active: rgba(10 102 194 / 70%);
  --color-action-hover: rgba(10 102 194 / 70%);

  /* Input */
  --color-input-bg: rgb(242 242 242);
  --color-input-bg-hover: #e0e0e0;
  --color-input-border: rgb(200 200 200);
  --color-input-disabled-text: #f00;
  --color-input-disabled-bg: #eee;
  --color-input-text: #444;

  /* Surface */
  --color-surface: #fff;
  --color-surface-low: #f3f4f6;

  /* Text */
  --color-text: var(--color-foreground);
  --color-text-inverse: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #111;
    --color-foreground: #bbb;

    /* Action */
    --color-action: rgba(2 202 170 / 100%);
    --color-action-active: rgba(2 202 170 / 70%);
    --color-action-hover: rgba(2 202 170 / 70%);

    /* Input */
    --color-input-bg: #222;
    --color-input-bg-hover: #555;
    --color-input-border: #333;
    --color-input-disabled-text: #aaa;
    --color-input-disabled-bg: #444;
    --color-input-text: #444;

    /* Surface */
    --color-surface: rgba(100 100 100 / 10%);
    --color-surface-low: rgba(100 100 100 / 20%);
    --color-surface-hover: rgba(100 100 100 / 5%);

    /* Text */
    --color-text: var(--color-foreground);
    --color-text-inverse: var(--color-background);
  }
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font: 400 medium/1.5 sans-serif;
}

a,
button,
input,
select,
textarea {
  &:focus {
    outline: 2px solid var(--color-action);
    outline-offset: 2px;
  }
}

.fake-input {
  &:focus-within {
    outline: 2px solid var(--color-action);
    outline-offset: 2px;
  }

  input,
  select {
    outline: 0;
  }
}

.deck {
  --column-width: 290px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--column-width), 1fr));
  gap: 24px;
  min-width: var(--column-width);
}
